_pyt-exec_ print("_"*50)
_pyt-exec_ print("SSS test")
_pyt-exec_ dh = 55+55 _&_ _sh_ echo $dh
_sh_ echo $err
_sh_ echo $script_file
_sh_ echo $script_dir
_pyt-eval_ script_dir
_pyt-eval_ script_file
_sh_ echo $bs
_&_ _&_ _&_
_pyt-exec_ print("_"*50)
ll